@import '@/styles/globals'
@import '@/styles/variables'

.Root
  color: $color-main-black
  width: calc(100% - 90px)
  min-height: 100vh
  margin: 0 auto

  display: flex
  justify-content: center
  align-items: center
  flex-wrap: nowrap



.WalletBTN
  opacity: .8
  background: none 
  overflow: hidden
  width: 220px
  border-radius: 4px
  & div
    z-index: 5
    color: #f2f2f2
    font-weight: 600
    font-size: 14px
  &::before 
    background: linear-gradient(95.54deg, #10002B -12.24%, #7B2CBF 62.54%, #B8B8FF 102.56%)
    animation: OpacityAnim 4s ease-in-out 0s infinite alternate 
  &::after 
    background: linear-gradient(95.54deg, #DEC9E9 -12.24%, #C77DFF 19.94%, #7B2CBF 72.87%) 
    animation: OpacityAnim 4s ease-in-out 0s infinite alternate 

  &::after, &::before 
    content: '' 
    display: block 
    position: absolute 
    top: 0 
    bottom: 0 
    left: 0 
    right: 0 

@keyframes OpacityAnim 
    0%
      opacity: 1
    50% 
      opacity: .6
    100% 
      opacity: 1


.Services
  min-height: 600px
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  position: relative
  &::before
    content: ''
    width: 600px
    height: 600px
    position: absolute
    right: 0
    bottom: 0
    background: #B8B8FF
    z-index: 0
    opacity: 0.7
    filter: blur(150px)

.ServicesReasonItem
  height: 100%
  max-width: 670px
  max-height: 110px
  display: flex
  justify-content: space-between
  width: 100%
  padding: 16px 32px
  background: #ff0
  flex-wrap: nowrap
  align-items: center
  border-radius: 16px
  z-index: 2
  position: static

  background: rgba(255, 255, 255, 0.2)
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(8px)
  border: 1px solid rgba(255, 255, 255, 0.7)
  & .ServicesReasonItem_img
    margin-right: 15px